# Copyright (c) 2020 Ryan Cross
# SPDX-License-Identifier: MIT

if SHIELD_SOFLE_NRF52840_LEFT

config ZMK_KEYBOARD_NAME
    default "Sofle ZMK"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_SOFLE_NRF52840_LEFT || SHIELD_SOFLE_NRF52840_RIGHT

config ZMK_SPLIT
    default y

endif
