if BOARD_HOLYIOT_NRF52840

config BOARD
	default "holyiot_nrf52480"

if USB_DEVICE_STACK

config USB_NRFX
    default y

endif # USB_DEVICE_STACK

config BT_CTLR
    default BT

endif # BOARD_HOLYIOT_NRF52840
